@import "variables";
@import "fuentes";
@import "tamanoletras";

h1, h2, h3, h4 {
  color: $colortexto-principal;
  font-size: $tamtitulos;
}

//EJERCICIOS FUNCIONES

@for $i from 1 through 5 {
  .titiulosprincipales#{$i} { font-size: 30px * $i; }
}

@mixin bordesgeneral ($borderstyle, $border-color) {
  border-style: double;
  border-color: $colortexto-principal;
}

.bordecomun {
  @include bordesgeneral(double, $colortexto-principal);
}

.probandosass__texto {
  @include bordesgeneral(double, $colortexto-principal);
}


//GENERAL

//TITULO HOUSTON RUSKO

.tituloprincipal {  
  font-size: $letragrande;
  color: white;
}

.item0 {
  margin-top: 10px;
}

//FONDOS

body {
  background-image: $fondosecundario;
  opacity: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.opacarfondo {
  background-color: rgb(0, 0, 0);
  opacity: 90%;
}

.bodyredes {
  background-image: $fondosecundario;
  opacity: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.bodyconvertite {
  background-image: $fondo3;
  opacity: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.bodycompeticiones {
  background-image: $fondo4;
  opacity: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.bodycontacto {
  background-image: $fondo5;
  opacity: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.bodyquienes {
  background-image: $fondo7;
  opacity: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

//HEADER

header, a {
  font-weight: bold;
  font-size: $tamtitulos;
  font-family: $fuente-principal;
} 

.item1 {
 margin-left: 1%;
}
  
.item1 a:hover {
  display: inline-block;
  transition: 5s;
  font-size: 2rem;
  font-family: $fuente-principal;
  text-decoration: none;
  padding: 10px 15px;
  background: #ff8800;  
}

.item1 .img-fluid {
  padding: 10px;  
}

//BARRA IZQUIERDA

.item2 {
  margin-left: 3%;
  margin-top: 15%;
}

.item2 a:hover, a:visited {
  transition: 5s;
  font-size: 2rem;
  color: white;
  padding: 10px 15px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  background: #ff8800;
  margin-left: 5%;
}

//VIDEO PRINCIPAL INICIO

.contiene-video {
  position: relative;
  overflow: hidden;
  width: 70%;
  height: 70%;
  margin-left: 15%;
  margin-top: 3%;
}

//TEXTOS - TITULOS

h1 {
  font-family: $fuente-principal;
  text-align: center;
  @include bordesgeneral(double, $colortexto-principal);
  font-style: normal;
  font-weight: bold;
}
  
h2 {
  text-align: center;
  border-style: double;
  border-color: $colortexto-principal;
  font-style: normal;
  font-weight: bold;
  font-family: 'Bebas Neue';
}
  
h3 {
  text-align: center;
  border-style: double;
  border-color: $colortexto-principal;
  font-style: normal;
  font-weight: bold;
  font-family: 'Bebas Neue';
}
  
h4 {
  text-align: center;
  border-style: double;
  border-color: $colortexto-principal;
  font-style: normal;
  font-weight: bold;
  font-family: 'Bebas Neue';
}
  
h5 {
  color: #919191;
  text-align: center;
  border-style: double;
  border-color: #0f3e85;
  font-style: normal;
  font-weight: bold;
  font-family: 'Bebas Neue';
}

h6 {  
  font-size: $tamcontenidosgrande;
  color: $colortituloprincipal;
  text-align: center;
  margin-top: 3%;
}

.item4__titulointerior1 {
  color: #000;
  background-color: #f8ca95;
}

.item4__titulointerior2 {
  color: #000;
  background-color: #f8ca95;
}

.item4__titulointerior3 {
  color: #000;
  background-color: #f8ca95;
}

.item3pagquienes--texto {
  color: $colorpruebatitulo;
  background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(255, 166, 0));
  font-size: $tamcontenidos;
}
  
.item3pagcontacto--texto {
  color: $colorpruebatitulo;
  font-size: $tamcontenidosgrande;
}
  
.textoplantilla {
  color: $colorazulcopado;
}
  
.canchagrid__texto {
  color: $colorazulcopado;
}
  
.textocontacto {
  font-size: $tamcontenidosgrande;
  color: $colortexto-principal;
}

.efa__texto {
  color: #fff;
  font-size: $tamcontenidosgrande;
  font-family: $fuente-principal;
}

.item3pagconvertite--texto {
  margin-bottom: 3%;
}

.item5 .derechos p {
  color: #fff;
  text-align: right;
  font-family: $fuente-cursiva;
  font-size: $tamcontenidos;
}

//TABLAS Y LISTAS

ul li {
  list-style-type: none;
  color: rgb(212, 206, 196);
  font-style: normal;
  font-size: medium;
  font-weight: bold;
  font-family: 'Bebas Neue';
}

table, th, td {
  color: $colorpruebatitulo;
  font-style: normal;
  font-weight: normal;
  font-family: 'Bebas Neue';
  border: 2px solid #ff8800;
  text-align: center;
  font-size: 18px;
  padding: 2px;
  margin-left: 1px;
  margin-right: 1px;
  margin-top: 2%;
}

label {
color: $colorpruebatitulo;
font-style: normal;
font-weight: bold;
font-size: $tamcontenidosgrande;
font-family: $fuente-cursiva;
}

tr:hover

//BOTONES

.item3pagconvertite--boton {
background-color: #0077ff;
}

.item3__interno--boton {
  margin-top: 2%;
  margin-left: 41%;
  align-items: center;
  background-color: #ff8800;
  color: #fff;
}

//FLEX

.item3pagsocial__flex-container {
height: auto;
width: auto;
display: flex;
flex-direction: column;
flex-wrap: wrap;
flex-flow: column;
justify-content: space-between;
align-items: center;
align-content: flex-start;
order: initial;
}

//GRID - Ejercicio gradient

.grid {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto auto auto;    
  background-image: linear-gradient(to top #ff8800, #fff);
  grid-area: auto;
  border: 5px solid #ff8800;
  border-style: double;
  width: 100%;
  margin: auto;
  text-align: center;
}



.item4 {
  display: grid;
  align-items: center;
  margin-right: 10px;
}

.item5 {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}


//LINKS A REDES SOCIALES - PAGINA SOCIAL MEDIA

.item3pagsocial__linkyou:hover a:link, a:visited {
  transition: 3s;
  font-size: 3rem;
  background-color: #ff8800;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block; }

.item3pagsocial__linktwitter:hover a:link, a:visited {
  transition: 3s;
  font-size: 3rem;
  background-color: #ff8800;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block; }

.item3pagsocial__linktwitch:hover a:link, a:visited {
  transition: 3s;
  font-size: 3rem;
  background-color: #ff8800;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block; }


.redes {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

//ITEM 5 - FOOTER - CONTENEDOR LINKS REDES SOCIALES QUE SE REPITEN

.item5 {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.item5 .redes {
  left: 0;
  margin: 1%;
  padding: 0;
}

.item5 .redes ul {
  list-style: none;
}

.item5 .redes ul li a {
  display: inline-block;
  color: #fff;
  background: #000; 
  padding: 10px 15px;
  text-decoration: none;
}

.item5 .redes ul li .icon-twitter {
 background: #00abf0;
 margin-left: 3%;
}

.item5 .redes ul li .icon-youtube {
 background: #ae181f;
 margin-left: 3%;
}

.item5 .redes ul li .icon-twitch {
 background: #ac93d1; 
 margin-left: 3%;
}

.item5 .redes ul li a:hover {
  padding: 10px 30px; 
}

//LINK PAGINA CONTACTO LOCATION

.item3 .item3pagcontacto__contenedor a {
  display: inline-block;
  color: #fff;
  background: #000; 
  padding: 10px 15px;
  text-decoration: none;
}

.item3 .item3pagcontacto__contenedor a:hover {
  padding: 10px 30px; 
}

.item3 .item3pagcontacto__contenedor .icon-location {
  background: #ae181f;
}


